.container_menu_tittle{
    color: white;
}

.container_menu_tittle > h1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 135px;
    font-family: 'segoe UI';
    display: flex;
    justify-content: center;
}

.container_menu_tittle > hr{
    margin-top: 20px;
    margin-bottom: 5px;
}