<div class="container_small-card">
    <div class="container_small-card-content">
        <div class="small-card__photo">
            <img 
            src="{{ photoCover }}" 
            alt="imagem de exemplo"
            height="350px"
    
            >
        </div>
        <div class="small-card__tittle">
            <h1><a href="#" target="_blank" rel="noopener noreferrer">{{ cardTitle }}</a></h1>
        </div>
        <div class="small-card__description">
            <p>{{ cardDescription }}</p>
        </div>
    </div>
    <div class="container_small-card-separator">
        <hr/>
    </div>
    
</div>
