.container_small-card{
    width: 700px;
    margin-bottom: 15px;
}

.container_small-card-content{
    display: flex;
    frex-direction: row;
}

.small-card__photo > img{
    width: 250px;
    min-width: 200px;
    height: 200px;
    margin-right: 20px;
}

.small-card__tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.small-card__description{
    display: flex;
    align-items: center;
}

.container_small-card-separator{
    margin-top: 10px;
}