<app-menu-tittle></app-menu-tittle>

<div class="container__articles">
    <div class="articles_main">
        <app-big-card 
            id="1"
            photoCover= "https://s2-techtudo.glbimg.com/nbsPS2QAg1DgZDaYC-jhCkbg9Co=/0x0:4272x2854/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/o/f/fr92X0Q1qXZSgARPLBAg/pexels-pixabay-220053.jpg"
            cardTitle= "ChatGPT: você ganha da IA? Saiba como jogar jogo da velha com chatbot"
            cardDescription="Chatbot da OpenAI cria um tabuleiro da brincadeira tradicional e joga com os seus usuários; a seguir, veja como desafiar o ChatGPT para uma partida de jogo da velha"
            cardContent="É possível brincar de jogo da velha com o ChatGPT.">
        </app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card 
            id="2"
            photoCover="https://t4.ftcdn.net/jpg/04/47/95/63/240_F_447956339_wmttUFymAszSApihEL2uZYilvBJaShsg.jpg"
            cardTitle= "O que é realidade aumentada? Guia traz exemplos de uso no dia a dia"
            cardDescription="Realidade aumentada funciona em celulares, óculos e até mesmo em aplicativos, e pode ser usada na sala de aula, hospitais e muito mais; veja guia completo com exemplos de uso">
        </app-small-card>
        <app-small-card
            id="3"
            photoCover="https://s2-techtudo.glbimg.com/_vwbDNwUIDRlG7LuVm5uugEdlpo=/0x0:1000x562/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/A/v/DdShxZQoOt1wqk6OrOLg/new-bespoke-kitchen-lineup-pr-main2.jpg"
            cardTitle= "Cozinha inteligente? Samsung lança app com IA e integração com eletros"
            cardDescription="Samsung lançou aplicativo que pode ser integrado com aparelhos eletrônicos da marca para facilitar o preparo das refeições em casa; veja detalhes sobre a novidade e como usar" >
        </app-small-card>
        <app-small-card 
            id="4"
            photoCover="https://img.freepik.com/psd-premium/notebook-flutuante-com-telas-de-interface-do-usuario_1562-461.jpg?size=626&ext=jpg&ga=GA1.1.397692993.1694226697&semt=sph"
            cardTitle= "IA 'do mal' pode aplicar golpes e roubar seu dinheiro; saiba se proteger"
            cardDescription="'Clone' do ChatGPT é popular em fóruns paralelos na web e pode aplicar golpes financeiros nas vítimas; entenda o que é o WormGPT e veja como se proteger do 'gêmeo do mal' do chatbot da OpenAI" >
        </app-small-card>
    </div>
</div>
