.container{
    display: flex;
    margin-right: auto;
    justify-content: space-between;
}

.homePage{
    display: flex;
    width: 400px;
    padding: 0 0 0 0;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-self: center;
    border-radius: 2rem;
    border-style: double;
}

.homePage p{
    align-self: center;
    align-content: center;
    padding-left: 19px;
}

.homePage .seta{
    padding: 0 15px 0 15px;
    margin: 2px 2px;
}

.seta{
    background-color: white;
    border-radius: 2rem;
}

.redeSocial-categoria{
    display: flex;
    width:1200px;
    padding: 0 0 0 0;
    align-self: center;
    border: solid;
    border-radius: 2rem;
    
}

.redeSocial{
    display: flex;
}

.instagram{
    border: solid;
    border-radius: 46%;
    padding: 0 15px 0 15px;
    margin: 2px 2px;
}

.instagram img{
    padding-top: 9px;
    margin: 2px 2px;
}

.twitter{
    border: solid;
    border-radius: 46%;
    padding: 0 15px 0 15px;
    margin: 2px 2px;
}

.twitter img{
    padding-top: 6px;
    margin: 2px 2px;
}

.facebook{
    border: solid;
    border-radius: 46%;
    padding: 0 15px 0 15px;
    margin: 2px 2px;
}

.facebook img{
    padding-top: 6px;
    margin: 2px 2px;
}


.portifolio{
    display: flex;
    border: solid;
    border-radius: 1rem;
}

.portifolio p{
    margin: 5px;
}

.categorias{
    padding-right: 20px;
}

.number{
    background-color: #C2DF2C;
    border-radius: 1rem;

}

.categorias{
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    border: solid;
}

.service{
    background-color: gray;
    border-radius: 1rem;
}
